/*
 * Created by Leo.H & MC.Gong on 2017/3/6.
 */

/* This file is used to style content*/

.main
{
	border-style: solid;
	width: 500px;
	height: 500px;
	background-color: #585858;
	border-color: #585858;
	top: 40px;
	left: 400px;
	border-radius: 10px;
	position: absolute;
}
.block
{
	margin-left: 10px;
	margin-top: 10px;
	width: 112.5px;
	height: 112.5px;
	background-color: #dfdfdf;
	float: left;
	font-size: 50px;
	text-align: center;
	line-height:112.5px;
	color: white;
}

.button {
    background-color: white;
    border: 2px solid #4CAF50;
    color: black;
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    cursor: pointer;
}

.button:hover {
    background-color: #4CAF50;
    color: white;
}
