/*
 * Created by Leo.H & MC.Gong on 2017/3/6.
 */

/* This file is used to style content*/

.block {
	display: inline-block;
	width:120px;
	height: 120px;
	float: left;
	color:white;
	height:120px;
	font-size:50px;
	background-color: #BEBEBE;
	text-align: center;
	vertical-align: bottom;
	box-shadow: 4px 4px 2px #8a8a8a;
	margin-left: 10px;
	margin-top: 10px;
}

body {
	text-align: center;
	padding-top: 100px;
	overflow-y: hidden;
	position: absolute;
}
