
.row {
	display: block;
	width:100%;
}
	
.column {
	display: inline-block;
	width:100px;
	color:white;
	height:100px;
	font-size:3em;
	margin: 5px;
	padding: 0px;
	background-color: black;
	text-align: center;
	vertical-align: bottom;
	box-shadow: 4px 4px 2px #8a8a8a;
}

body {
	text-align: center;
	padding-top: 100px;	overflow-y: hidden;
}
